<div class="products-container">
  <h1>{{title}}</h1>

  {{#each products}}
    <div class="card">
      <div>Id: {{this._id}} </div>
      <div>Titulo: {{this.title}} </div>
      <div>Precio: {{this.price}} </div>
      <div>Descripcion: {{this.description}}</div>
      <div>Imagen: {{this.thumbnail}}</div>
      <div>Codigo: {{this.code}} </div>
      <div>Stock: {{this.stock}}</div>

    </div>
  {{/each}}

  <div>
    {{#if response.payload.hasPrevPage}}
      <a
        href="/?page={{response.payload.prevPage}}&limit={{limit}}"
      >⬅️anterior</a>
    {{/if}}
    {{#if response}}<span>Pagina
        {{response.payload.page}}
        de
        {{response.payload.totalPages}}</span>
    {{/if}}
    {{#if response.payload.hasNextPage}}
      <a
        href="/?page={{response.payload.nextPage}}&limit={{limit}}"
      >siguiente➡️</a>
    {{/if}}
  </div>
</div>