<div class="products-container">
  <h1>Detalle del producto</h1>

  {{#if plainProduct}}

    <div id={{plainProduct._id}} class="card">

      <div>Titulo: {{plainProduct.title}} </div>
      <div>Precio: {{plainProduct.price}} </div>
      <div>Imagen: {{plainProduct.thumbnail}}</div>
      <div>Descripcion: {{plainProduct.description}}</div>
      <div>Codigo: {{plainProduct.code}} </div>
      <div>Stock: {{plainProduct.stock}}</div>
      <div>Categoria: {{plainProduct.category}}</div>

    </div>
    <a><button type="submit" class="btn btn-primary">Agregar al carrito</button></a>

  {{else}}
    <p>El producto no existe o no se encontró.</p>
  {{/if}}

</div>