<div class="products-container">
  <h1>Listado de productos</h1>

  {{#each products}}
    <div class="card" id="{{this._id}}">
      <div>Titulo: {{this.title}} </div>
      <div>Precio: {{this.price}} </div>
      <div>Imagen: {{this.thumbnail}}</div>

      <a href="/product-details/{{this._id}}">
        <button type="button" class="btn btn-primary">Ver Detalles</button></a>
    </div>
  {{/each}}

  <div>
    {{#if response.payload.hasPrevPage}}
      <a href="{{response.payload.prevPageURL}}">⬅️anterior</a>
    {{/if}}
    {{#if response}}<span>Pagina
        {{response.payload.page}}
        de
        {{response.payload.totalPages}}</span>
    {{/if}}
    {{#if response.payload.hasNextPage}}
      <a href="{{response.payload.nextPageURL}}">siguiente➡️</a>
    {{/if}}
  </div>
</div>