<div class="products-container">
  <h1>Detalle del producto</h1>

  {{#if plainProduct}}

    <div id="card-product" class="card">
      <div id="pid">{{plainProduct._id}}</div>
      <div>Titulo: {{plainProduct.title}} </div>
      <div>Precio: {{plainProduct.price}} </div>
      <div>Imagen: {{plainProduct.thumbnail}}</div>
      <div>Descripcion: {{plainProduct.description}}</div>
      <div>Codigo: {{plainProduct.code}} </div>
      <div>Stock: <span id="stockProduct">{{plainProduct.stock}}</span></div>
      <div>Categoria: {{plainProduct.category}}</div>
      <div id="cid" class="d-none">{{plainProduct.cid}}</div>
    </div>

    <button id="btn-decrease" class="btn">-</button>
    <span id="product-count" class="product-count">0</span>
    <button id="btn-increase" class="btn">+</button>
    <br />
    <a><button id="add-to-cart" type="submit" class="btn btn-primary">Agregar al
        carrito</button></a>

  {{else}}
    <p>El producto no existe o no se encontró.</p>
  {{/if}}
</div>
<script src="/js/addProductToCart.js"></script>