<h2>Perfil</h2>
<div class="data" action="/register" method="post">
  <div>{{first_name}} {{last_name}}</div>
  <div>{{email}}</div>
  <div>edad: {{age}}</div>
  <div>Rol: {{role}}</div>
  <a href="/products" style="text-decoration: none;">Volver </a>

  <a href="/logout">Cerrar sesion</a>
</div>