<h2>Perfil</h2>
<div class="data" action="/api/sessions/register" method="post">
  <div>
    <p>{{username}}</p>

  </div>
  <div>
    <p>{{first_name}} {{last_name}}</p>
  </div>
  <div>
    <p>Edad: {{age}}</p>
  </div>
  <div>
    <p>{{email}}</p>
  </div>
  <div>
    <p>rol: {{role}}</p>
  </div>

  <a href="/views/products" style="text-decoration: none;">Volver </a>

  <a href="/api/sessions/logout">Cerrar sesion</a>
</div>