<div class="card">
  <table id="dinamic-list-products" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Edad</th>
        <th scope="col">Role</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th scope="row">*</th>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.username}}</td>
          <td>{{this.email}}</td>
          <td>{{this.age}}</td>
          <td>{{this.role}}</td>
          <td>
            <a
              class="btn btn-primary"
              href="/api/users/premium/{{this._id}}"
            >Cambiar rol</a>
            <button
              id="delete_user"
              class="deleteButton"
              data-uid="{{this._id}}"
            >Eliminar</button>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/admin/clear-list">Limpiar lista de usuarios
    (2 dias)</a>

</div>
<script src="/js/adminMethod.js"></script>