<div class="card">
  <table id="dinamic-list-products" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Edad</th>
        <th scope="col">Role</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th scope="row">*</th>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.username}}</td>
          <td>{{this.email}}</td>
          <td>{{this.age}}</td>
          <td>{{this.role}}</td>
          <td><a
              class="btn btn-primary"
              id="{{this._id}}"
              href="/edit-user/{{this.id}}"
            >Editar</a>
            <a class="btn btn-primary" href="/">Eliminar</a></td>
        </tr>

      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/admin/clear-list">Limpiar lista de usuarios
    (2 dias)</a>

</div>